#homeCarousel.carousel.slide
	.carousel-inner
		#signupTab.item
			%div= render 'signup'
		#signinTab.active.item
			%div= render 'signin'
		#passwordResetTab.item
			%div= render 'forgot_password'
= javascript_include_tag "home"